<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>jenkins.security.s2m.MasterKillSwitchWarning</string>
  </disabledAdministrativeMonitors>
  <version>2.150.1</version>
  <installStateName>DOWNGRADE</installStateName>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:hudson-admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:hudson-admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:hudson-admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:hudson-admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:hudson-admin</permission>
    <permission>hudson.model.Computer.Build:hudson-admin</permission>
    <permission>hudson.model.Computer.Configure:hudson-admin</permission>
    <permission>hudson.model.Computer.Connect:hudson-admin</permission>
    <permission>hudson.model.Computer.Create:hudson-admin</permission>
    <permission>hudson.model.Computer.Delete:hudson-admin</permission>
    <permission>hudson.model.Computer.Disconnect:hudson-admin</permission>
    <permission>hudson.model.Hudson.Administer:hudson-admin</permission>
    <permission>hudson.model.Hudson.Read:elin</permission>
    <permission>hudson.model.Hudson.Read:hudson-admin</permission>
    <permission>hudson.model.Hudson.Read:hudson-pcv</permission>
    <permission>hudson.model.Hudson.Read:hudson-release</permission>
    <permission>hudson.model.Hudson.Read:iqin</permission>
    <permission>hudson.model.Hudson.Read:jxwu</permission>
    <permission>hudson.model.Hudson.Read:kyang</permission>
    <permission>hudson.model.Hudson.Read:tzhou</permission>
    <permission>hudson.model.Hudson.Read:xqian</permission>
    <permission>hudson.model.Hudson.Read:yzhou</permission>
    <permission>hudson.model.Item.Build:hudson-admin</permission>
    <permission>hudson.model.Item.Build:hudson-pcv</permission>
    <permission>hudson.model.Item.Build:hudson-release</permission>
    <permission>hudson.model.Item.Cancel:hudson-admin</permission>
    <permission>hudson.model.Item.Cancel:hudson-pcv</permission>
    <permission>hudson.model.Item.Cancel:hudson-release</permission>
    <permission>hudson.model.Item.Configure:hudson-admin</permission>
    <permission>hudson.model.Item.Create:hudson-admin</permission>
    <permission>hudson.model.Item.Delete:hudson-admin</permission>
    <permission>hudson.model.Item.Discover:hudson-admin</permission>
    <permission>hudson.model.Item.Discover:hudson-pcv</permission>
    <permission>hudson.model.Item.Discover:hudson-release</permission>
    <permission>hudson.model.Item.Read:hudson-admin</permission>
    <permission>hudson.model.Item.Read:hudson-pcv</permission>
    <permission>hudson.model.Item.Read:hudson-release</permission>
    <permission>hudson.model.Item.Workspace:hudson-admin</permission>
    <permission>hudson.model.Item.Workspace:hudson-pcv</permission>
    <permission>hudson.model.Item.Workspace:hudson-release</permission>
    <permission>hudson.model.Run.Delete:hudson-admin</permission>
    <permission>hudson.model.Run.Update:hudson-admin</permission>
    <permission>hudson.model.View.Configure:hudson-admin</permission>
    <permission>hudson.model.View.Create:hudson-admin</permission>
    <permission>hudson.model.View.Delete:hudson-admin</permission>
    <permission>hudson.model.View.Read:hudson-admin</permission>
    <permission>hudson.model.View.Read:hudson-pcv</permission>
    <permission>hudson.model.View.Read:hudson-release</permission>
    <permission>hudson.scm.SCM.Tag:hudson-admin</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.plugins.active_directory.ActiveDirectorySecurityRealm" plugin="active-directory@2.10">
    <startTls>true</startTls>
    <groupLookupStrategy>AUTO</groupLookupStrategy>
    <removeIrrelevantGroups>false</removeIrrelevantGroups>
    <tlsConfiguration>TRUST_ALL_CERTIFICATES</tlsConfiguration>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <systemMessage>Production Jenkins running on NXT-BUILD11.</systemMessage>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter" plugin="antisamy-markup-formatter@1.5">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>misc</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>source_external</string>
        <string>source_git_external</string>
        <string>source_main_external</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Enforcers</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>pcv_MSEnforcerCommon_1.0_master</string>
        <string>pcv_SfBServerEnforcer_1.0_master</string>
        <string>release_SfBServerEnforcer_1.0</string>
        <string>release_SfBServerEnforcer_1.2</string>
        <string>release_SPE_main1611_8.0</string>
        <string>release_SPE_mr1612_8.1</string>
        <string>release_SPE_mr1707_8.0.1</string>
        <string>release_SPE_mr1711_8.0.2</string>
        <string>release_SPE_mr1805_8.1.1</string>
        <string>release_SPE_mr1807_8.0.3</string>
        <string>release_SPE_mr1807_8.1.2</string>
        <string>release_SPE_mr1807_8.1.3</string>
        <string>release_SPE_mr1809_8.3.0</string>
        <string>release_SPE_mr1811_8.0.4</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>Enforcers</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <disabledAgentProtocols>
    <string>JNLP-connect</string>
    <string>JNLP2-connect</string>
  </disabledAgentProtocols>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.tools.ToolLocationNodeProperty>
      <locations>
        <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          <type>hudson.plugins.git.GitTool$DescriptorImpl</type>
          <name>Default</name>
          <home>C:\Git\cmd\git.exe</home>
        </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
      </locations>
    </hudson.tools.ToolLocationNodeProperty>
  </globalNodeProperties>
</hudson>